.cta-banner {
  @media screen and (max-width: "769px") {
    padding-inline: 2rem;
  }
}

.cta-banner__container {
  background-color: var(--color-primary-dark);
  color: var(--color-neutral-light);
  background-image: url("/images/bg-pattern-how-we-work-desktop.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  gap: 3rem;

  @media screen and (max-width: "769px") {
    background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
    background-size: unset;

    flex-direction: column;
    text-align: center;
    padding: 4rem 2rem;
  }

  .cta-banner__title {
    font-size: clamp(2.5rem, 6.375vw + -0.564rem, 3.5rem);
    text-wrap: balance;
    display: inline-block;
    line-height: 1.1;

    @media screen and (max-width: "769px") {
      text-wrap: unset;
    }
  }

  .cta-banner__button {
    border-color: white;
    letter-spacing: 1.5px;
    text-align: center;
    text-wrap: nowrap;
  }
}
