.footer {
  margin-top: 9.5rem;
  background-color: var(--color-neutral-light);
  padding: 4rem 1rem;

  background-image: url("/images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top left;

  @media screen and (max-width: "769px") {
    padding: 5.5rem 2rem;

    background-image: url("/images/bg-pattern-footer-mobile.svg");
    background-size: contain;
  }
}

.footer__container {
  .footer__divider {
    border: none;
    height: 1px;
    background-color: var(--color-icon-gray);
    opacity: 0.3;
    margin: 2rem 0 2rem;
  }
}

.footer__header {
  display: flex;
  align-items: center;
  gap: 2rem;

  .logo-link {
    margin-right: auto;

    @media screen and (max-width: "769px") {
      margin-right: unset;
    }
  }

  .footer__socials {
    display: flex;
    gap: 1rem;

    .footer__social-link {
      display: flex;
      align-items: center;
    }

    .footer__social-icon {
      width: 24px;
      height: auto;

      &:hover {
        filter: brightness(0%);
      }
    }
  }

  @media screen and (max-width: "769px") {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__nav-grid {
  font-size: 0.813rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-icon-gray);

  display: flex;
  /*  gap: 8rem; */
  justify-content: space-between;
  letter-spacing: 1.5px;

  @media screen and (max-width: "769px") {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    text-align: center;
  }

  .footer-nav-column {
    flex: 1;
  }

  .footer-nav-column__heading {
    font-size: inherit;
    font-family: var(--font-family-body);
    color: var(--color-neutral-medium);
    font-weight: 700;
  }

  .footer-nav-column__list {
    list-style-type: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .footer-nav-column__item {
    &:hover {
      text-decoration: underline;
    }
  }
}
