.header {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 0 1rem;

  @media screen and (max-width: "769px") {
    padding: 0rem;
  }
}

.header__container {
  display: flex;
  background-color: white;
  padding-block: 1rem;

  @media screen and (max-width: "769px") {
    padding-inline: 2rem;
  }
}

.logo-link {
  margin-right: auto;

  display: grid;
  place-content: center;

  .header__logo-img {
  }
}

.header__toggle {
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  letter-spacing: 1.5px;

  font-size: 0.813rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  &::before {
    @media screen and (max-width: "769px") {
      content: "";
      display: block;
      position: absolute;

      background-image: url("/images/bg-pattern-mobile-nav.svg");
      background-repeat: no-repeat;
      background-size: cover;

      right: 0;
      bottom: 0;
      width: 100%;
      height: 200px;
    }
  }

  @media screen and (max-width: "769px") {
    position: fixed;
    display: none;
    background-color: var(--color-neutral-dark);
    inset: 0;
    z-index: -1;
    padding-inline: 2rem;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
    gap: 2rem;

    font-size: 1.25rem;

    opacity: 0;

    &.is-open {
      display: flex;
      opacity: 1;
    }
  }

  .header__link {
    color: var(--color-neutral-medium);

    &:hover {
      color: var(--color-neutral-dark);
    }

    @media screen and (max-width: "769px") {
      color: var(--color-neutral-light);

      &:hover {
        color: var(--color-primary-light);
      }
    }
  }

  .header__button {
    &:hover {
      color: var(--color-neutral-light);
      background-color: var(--color-neutral-dark);
    }

    @media screen and (max-width: "769px") {
      border-color: var(--color-neutral-medium);
      color: var(--color-neutral-light);
      font-size: inherit;
      max-width: 21.25rem;
      width: 100%;

      &:hover {
        color: var(--color-neutral-dark);
        background-color: var(--color-neutral-light);
      }
    }
  }
}
